In [1]:
import pandas as pd
import matplotlib as mpl
import numpy as np
from bokeh.plotting import figure, output_file, show

In [2]:
import bokeh.sampledata
import logging
from bokeh.validation.errors import BAD_COLUMN_NAME, MISSING_GLYPH, NO_SOURCE_FOR_GLYPH
from bokeh.validation.warnings import MALFORMED_CATEGORY_LABEL

In [3]:
#import geopandas as gpd

In [4]:
pd.set_option('display.mpl_style', 'default')

In [5]:
bokeh.sampledata.download()

Using data directory: C:\Users\VTyagi/.bokeh\data
Downloading: CGM.csv (1589982 bytes)
   1589982 [100.00%]
Downloading: US_Counties.zip (3182088 bytes)
   3182088 [100.00%]
Unpacking: US_Counties.csv
Downloading: unemployment09.csv (253301 bytes)
    253301 [100.00%]
Downloading: AAPL.csv (166698 bytes)
    166698 [100.00%]
Downloading: FB.csv (9706 bytes)
      9706 [100.00%]
Downloading: GOOG.csv (113894 bytes)
    113894 [100.00%]
Downloading: IBM.csv (165625 bytes)
    165625 [100.00%]
Downloading: MSFT.csv (161614 bytes)
    161614 [100.00%]
Downloading: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.zip (5148539 bytes)
   5148539 [100.00%]
Unpacking: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.csv
Downloading: gapminder_fertility.csv (64346 bytes)
     64346 [100.00%]
Downloading: gapminder_population.csv (94509 bytes)
     94509 [100.00%]
Downloading: gapminder_life_expectancy.csv (73243 bytes)
     73243 [100.00%]
Downloading: gapminder_regions.csv (7781 bytes)
      7781 [100.00%]

### Import the csv file

In [6]:
# Import the CSV file
chgmst = pd.read_csv("C:\\Users\\VTyagi\\Google Drive\\@Study\\MSDS - Lipscomb University\\2. Data Struct\\Exercise2\\Inpatient_Prospective_Payment_System__IPPS__Provider_Summary_for_the_Top_100_Diagnosis-Related_Groups__DRG__-_FY2011.csv")

### Description of the object and columns

In [7]:
# description of the object and columns
chgmst.columns

Index([u'DRG Definition', u'Provider Id', u'Provider Name',
       u'Provider Street Address', u'Provider City', u'Provider State',
       u'Provider Zip Code', u'Hospital Referral Region Description',
       u' Total Discharges ', u' Average Covered Charges ',
       u' Average Total Payments ', u'Average Medicare Payments'],
      dtype='object')

### Profiling of the data in the object

In [8]:
### Profiling of the data in the object
chgmst.describe()

         Provider Id  Provider Zip Code   Total Discharges
count  163065.000000      163065.000000       163065.000000
mean   255569.865428       47938.121908           42.776304
std    151563.671767       27854.323080           51.104042
min     10001.000000        1040.000000           11.000000
25%    110092.000000       27261.000000           17.000000
50%    250007.000000       44309.000000           27.000000
75%    380075.000000       72901.000000           49.000000
max    670077.000000       99835.000000         3383.000000

### Removing "$" to convert column data type to float for meaningful analysis and print the results

In [9]:
#### removing $ to convert column data type to float for meaningful analysis
chgmst[' Average Covered Charges '].replace({'\$': ''}, regex=True, inplace=True)

In [10]:
# removing $ to convert column data type to float for meaningful analysis
chgmst[' Average Total Payments '].replace({'\$': ''}, regex=True, inplace=True)
chgmst[' Average Total Payments ']

0         5777.24
1         5787.57
2         5434.95
3         5417.56
4         5658.33
5         6653.80
6         5834.74
7         8031.12
8         6113.38
9         5541.05
10        5461.57
11        5356.28
12        5374.65
13        5366.23
14        5282.93
15        5676.55
16        5930.11
17        6192.54
18        4968.00
19        5996.00
20        5710.31
21        5550.90
22        4987.26
23        8401.95
24        7768.90
25        6799.85
26        9133.00
27        6506.50
28        6083.42
29        7140.85
           ...
163035    4090.57
163036    4672.87
163037    4615.15
163038    5992.09
163039    3970.66
163040    4867.17
163041    4482.47
163042    3778.78
163043    7411.21
163044    4082.00
163045    4301.29
163046    3884.77
163047    4619.00
163048    4114.00
163049    5562.50
163050    5720.17
163051    4084.55
163052    3830.10
163053    3885.20
163054    6258.61
163055    4905.17
163056    6889.33
163057    6192.84
163058    5975.26
163059    3772.00
163060    3806.86
163061    4027.36
163062    5704.36
163063    7663.09
163064    3539.75
Name:  Average Total Payments , dtype: object

In [11]:
# removing $ to convert column data type to float for meaningful analysis
chgmst['Average Medicare Payments'].replace({'\$': ''}, regex=True, inplace=True)

### Converting column data type to float for meaningful analysis

In [12]:
# converting column data type to float for meaningful analysis
chgmst[' Average Covered Charges '] = chgmst[' Average Covered Charges '].astype(float)
chgmst[' Average Total Payments '] = chgmst[' Average Total Payments '].astype(float)
chgmst['Average Medicare Payments'] = chgmst['Average Medicare Payments'].astype(float)
chgmst['Average Medicare Payments']

0         4763.73
1         4976.71
2         4453.79
3         4129.16
4         4851.44
5         5374.14
6         4761.41
7         5858.50
8         5228.40
9         4386.94
10        4493.57
11        4408.20
12        4186.02
13        4376.23
14        4383.73
15        4509.11
16        3972.85
17        5179.38
18        3898.88
19        4962.45
20        4471.68
21        4219.90
22        3944.42
23        6413.78
24        6951.45
25        5764.87
26        8008.11
27        5379.83
28        4903.33
29        6133.57
           ...
163035    3288.85
163036    3829.87
163037    3779.72
163038    3457.86
163039    3029.11
163040    4031.68
163041    3828.78
163042    2898.50
163043    6406.05
163044    3429.66
163045    3114.94
163046    3117.31
163047    3775.33
163048    3346.54
163049    4522.78
163050    4198.72
163051    3363.28
163052    3123.57
163053    3141.20
163054    5579.38
163055    3403.85
163056    5673.50
163057    3580.57
163058    5055.06
163059    3085.73
163060    3071.39
163061    2649.72
163062    4058.36
163063    6848.54
163064    2887.41
Name: Average Medicare Payments, dtype: float64

### Data Profiling using describe function on the float data type columns

In [13]:
# Data Profiling using describe function on the float data type columns
chgmst.describe()

,Provider Id,Provider Zip Code,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
count,163065.000000,163065.000000,163065.000000,163065.000000,163065.000000,163065.000000
mean,255569.865428,47938.121908,42.776304,36133.954224,9707.473804,8494.490964
std,151563.671767,27854.323080,51.104042,35065.365931,7664.642598,7309.467261
min,10001.000000,1040.000000,11.000000,2459.400000,2673.000000,1148.900000
25%,110092.000000,27261.000000,17.000000,15947.160000,5234.500000,4192.350000
50%,250007.000000,44309.000000,27.000000,25245.820000,7214.100000,6158.460000
75%,380075.000000,72901.000000,49.000000,43232.590000,11286.400000,10056.880000
max,670077.000000,99835.000000,3383.000000,929118.900000,156158.180000,154620.810000

### Using stats from Data Profile fuctions, prepare data for bar charts

In [14]:
from bokeh.charts import Bar, output_file, show

df_chart = chgmst.describe()/1000.00

# prepare the data
data = {"1":df_chart[' Average Covered Charges '], "2":df_chart[' Average Total Payments '], 
        "3":df_chart['Average Medicare Payments']}

# output to static HTML file
output_file("bar.html")

### Using stats from Data Profile fuctions, prepare data for bar charts

In [15]:
# create a new line chat with a title and axis labels
p=Bar(data, title="Bar example", xlabel='Metrics', ylabel='Values (in thousands)',
      cat=['count', 'mean', 'std', 'min', '1st Quarentile', '2nd Quarentile','3rd Quarentile', 'max'])

In [16]:
# show the results
show(p)

ERROR:C:\Anaconda\lib\site-packages\bokeh\validation\check.pyc:W-1003 (MALFORMED_CATEGORY_LABEL): Category labels are malformed: [field:cat1] [first_value: count:0.25] [renderer: GlyphRenderer, ViewModel:GlyphRenderer, ref _id: 8a947456-7e7b-48ab-bba8-935037b11267]
ERROR:C:\Anaconda\lib\site-packages\bokeh\validation\check.pyc:W-1003 (MALFORMED_CATEGORY_LABEL): Category labels are malformed: [field:cat2] [first_value: count:0.75] [renderer: GlyphRenderer, ViewModel:GlyphRenderer, ref _id: 87055b1f-39ee-4440-b3f3-214c4c0fe279]
ERROR:C:\Anaconda\lib\site-packages\bokeh\validation\check.pyc:W-1003 (MALFORMED_CATEGORY_LABEL): Category labels are malformed: [field:cat3] [first_value: count:0.5] [renderer: GlyphRenderer, ViewModel:GlyphRenderer, ref _id: 8fd39fbd-b27a-42b3-a5db-dd6e3e699438]

### Scaling and rounding the data

In [17]:
df_grouped=chgmst.groupby(by=['Provider State']).sum()/1000000.0
df2=df_grouped[' Average Covered Charges '].copy()
df2=df2.round()
df2
#df_grouped.describe()

Provider State
AK      9
AL    114
AR     54
AZ    117
CA    882
CO     78
CT     63
DC     19
DE     11
FL    513
GA    154
HI     14
IA     42
ID     14
IL    285
IN    120
KS     52
KY     79
LA    100
MA     79
MD     45
ME     18
MI    131
MN     63
MO    127
MS     73
MT     11
NC    127
ND      9
NE     34
NH     22
NJ    319
NM     28
NV     73
NY    289
OH    199
OK     75
OR     36
PA    309
RI     18
SC    102
SD     14
TN    122
TX    492
UT     18
VA    127
VT      5
WA     96
WI     74
WV     30
WY      7
Name:  Average Covered Charges , dtype: float64

### Preparing initial variables for geo graph

In [18]:
from bokeh.sampledata import us_states, us_counties, unemployment
from bokeh.plotting import *

us_states = us_states.data.copy()

del us_states["HI"]
del us_states["AK"]

state_xs = [us_states[code]["lons"] for code in us_states]
state_ys = [us_states[code]["lats"] for code in us_states]

### Continue to prepare initial variables for geo graph

In [19]:
state_colors = []
max_count = df2.max()
avgSt_exp=[]

for id in us_states:
    if id in ["AK", "HI", "PR", "GU", "VI", "MP", "AS"]:
        continue
    try:
        count = df2[id]
        avgSt_exp.append(count)
        rgb_calc = 255 - (count / max_count) * 255.0
        state_colors.append("#%02x%02x%02x" % (255, rgb_calc, rgb_calc))
    except KeyError:
        state_colors.append("black")

state_df = pd.DataFrame(us_states).transpose()

source = ColumnDataSource(
    data=dict(
        stateList = [str(id) for id in us_states],
        avgSt_xs = [str(np.ma.masked_invalid(x).mean()) for x in state_df['lons']],
        avgSt_ys = [str(np.ma.masked_invalid(x).mean()) for x in state_df['lats']],
        avgSt_exp = ["$"+str(int(df2[id]))+"M" for id in us_states],
    )
)

#stateList, avgSt_xs, avgSt_ys, avgSt_exp

### Generating the geo graph

In [20]:
output_file("choropleth.html", title="State Medical Expense")

p = figure(title="State Medical Expense", toolbar_location="left",
    plot_width=1100, plot_height=700)

p.patches(state_xs, state_ys, fill_color=state_colors, fill_alpha=0.7,
    line_color="#884444", line_width=2)
#p.patches(state_xs, state_ys, fill_alpha=0.0,
#    line_color="#884444", line_width=2)

text_props = {
    "source":source,
    "angle": 0,
    "color": "black",
    "text_align": "center",
    "text_baseline": "middle"
}

p.text(x="avgSt_xs", 
       y="avgSt_ys", 
       text="avgSt_exp",
    text_font_style="bold", text_font_size="9pt", **text_props)

show(p)